*.gif filter=lfs diff=lfs merge=lfs -text
scripts/img/index/Imaginarium_video_introducción[[:space:]](1).gif filter=lfs diff=lfs merge=lfs -text
img/index/Imaginarium_video_introducción[[:space:]](1).gif filter=lfs diff=lfs merge=lfs -text
